# Kotlin / KMP logs
.kotlin/
**/.kotlin/errors/
*/.log

# Android Studio / IntelliJ
.idea/
*.iml

# Gradle + build outputs
.gradle/
.gradle-user/
**/build/

# Local config
local.properties

# Mac junk
.DS_Store
